
<section>
    <div class="main-container">
        <div class="darkness-image">
            <div class="text-image">
                <h1>Hello. I'm Jose. Nice to meet you.</h1>
                <h2>I'm a full stack developer. I'm a begginer in the industry so my slogan is to keep learning every day. If you want to know more about me, click on these icons!</h2>
            </div>
            <div class="info-container">
                <div class="card-container">
                    <div class="card-image"><a href="/about"><i class="far fa-id-card"></i></a></div>
                    <h1><a href="/about">About</a></h1>
                    <p>Read a review of my professional life</p>
                </div>
                <div class="card-container">
                    <div class="card-image"><a href="/projects"><i class="fas fa-laptop"></i></a></div>
                    <h1><a href="/projects">Projects</a></h1>
                    <p>Descover all the projects I have done in Ironhack</p>
                </div>
                <div class="card-container">
                    <div class="card-image"><a href=""><i class="fas fa-mail-bulk"></i></a></div>
                    <h1><a href="/">Contact</a></h1>
                    <p>Links to my gmail, github and slack account</p>
                </div>
            </div>
        </div>
    </div>
</section>
