<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Jacques+Francois|Libre+Franklin|Maven+Pro|Nunito+Sans|Oxygen|Source+Serif+Pro" rel="stylesheet">    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="home-header">
    <nav class="home-nav">
        <div class="name-container">
            <h1>Jose de Llanza</h1>
        </div>
        <ul class="home-list">
            <li class="home-bar"><a href="/">Home</a></li>
            <li class="home-bar"><a href="/about">About</a></li>
            <li class="home-bar"><a href="/projects">Projects</a></li>
            <li class="home-bar"><a href="">Contact</a></li>
        </ul>
    </nav>
</header>
    {{{body}}}
  </body>
</html>
