<section class="project-container">
    <article class="project-card">
        <div class="card-container-project">
            <img src="../images/bandr22.png" alt="" class="image-game">
            <div class="text-card-container">
                <h1>Save the whale</h1>
                <p>Mini game made with canvas. I enjoyed a lot making this mini game. The goal? Avoid the obstacles to reach the end of the race... if you can</p>     
            </div>
        </div>
    </article>
    <article class="project-card">
        <div class="card-container-project">
            <img src="../images/bandr21.png" alt="" class="image-bandr">
            <div class="text-card-container">
                <h1>Bandr</h1>
                <p>WebApp for movile. Choose your instrument and search for a band to join in. Done with Nodejs and express.</p> 
            </div>
        </div>
    </article>
    <article class="project-card">
        <div class="card-container-project">
            <img src="../images/bookaddicted.png" alt="" class="image-book">
            <div class="text-card-container">
                <h1>Bookaddicted</h1>
                <p>Webpage for books. Search, find, give an score and add a comment to a book. Made with Nodejs, express and angular. I've used an external API; googlebooksApi.</p>   
            </div>
        </div>
    </article>
</section>   